@import 'bootstrap/dist/css/bootstrap.min.css';

.container{

    display: flexbox;
    justify-content: center;

}

.titulo{
    margin: 40px;
}

.info{
    text-align: center;
}

.home{
    
    display: flexbox;
    margin: 40px;
    text-align: center;

}

